
<div class="container pt-5">
  <!-- <input type="button" value="Reset" class="btn btn-primary" (click)="">
    <input type="button" value="Ordenar por nombre" class="btn btn-secondary" (click)="ordenarxNombre()"> -->
  <div class="table-responsive">
    <table class="table table-striped table-fixed" *ngIf="empleadoTable.length !== 0; else sinEmpleados">
      <thead>
        <tr>
          <th class="col">
            No.
          </th>
          <th class="col">
            Nombre
          </th>
          <th class="col">
            Apellido
          </th>
          <th class="col">
            Cargo
          </th>
          <th class="col">
            Salario
          </th>
          <th class="col">
            Eliminar
          </th>
          <th class="col">
            Caracteristicas
          </th>
        </tr>
      </thead>
      <tbody>
        <tr #miEtiqueta *ngFor="let empleado of empleadoTable; let i = index" id={{i}}>
            <th class="col" scope="row">{{i+1}}</th>
            <td  class="col" >
              {{empleado.nombre}}
            </td>
            <td class="col">
              {{empleado.apellido}}
            </td>
            <td class="col">
              {{empleado.cargo }}
            </td>
            <td class="col">
              ${{empleado.salario}}
            </td>
          <td class="td-buttons">
          <a [routerLink]="['/update',i]" [queryParams]="{accion:'2'}">
            <input class="btn btn-danger" type="button" value="Eliminar">
          </a>
          <a [routerLink]="['/update',i]" [queryParams]="{accion:'1'}">
            <input class="btn btn-light" type="button" value="Editar">
          </a>
          </td>
          <td>
            <app-td-table></app-td-table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #sinEmpleados>
    <p>No hay empleados, resgistre algunos</p>
  </ng-template>
</div>
